<div class="row">
        <!-- left column -->
        <div class="col-md-2"></div>
        <div class="col-md-8">
          <!-- general form elements -->
          <div class="box box-primary">
            <div class="box-header with-border">
              <h3 class="box-title">O nama</h3>
            </div>    
            <div class="box-body">
                BiHiT je web aplikacija nastala 2017. godine. BiHiT predstavlja mjesto za dijeljenje IT sadrzaja i znanja.
                Koristenje aplikacije je besplatno i sve sto trebate uciniti je besplatna registracija koju mozete obaviti
                pritskom na dugme u gornjem desnom uglu. 
                Svi sadrzaji su podijeljeni u nekoliko kategorija kao sto su: Web, Programski jezici, Baze podataka itd.
                Svaka kategorija sadrzi vise podkategorija koje su obicno razlicite tehnologije vezane za kategoriju u kojoj se nalaze.
                Svaki korisnik moze objaviti clanak koji ce, nakon sto bude odobren od strane admina biti objavljen.
                Takoder, korisnici mogu pretrazivati clanke, komentarisati, ocijenjivati, kao i postavljati pitanja. 
                Sve to je namijenjeno samo za dijeljenje znanja i povezivanje svih zainteresovanih u jednu zajednicu kako
                bi se olaksao razvoj IT-a u BiH, odakle i proizilazi naziv BiHiT.
            </div>
            <div class="box-footer">
            </div>
        </div>
        <div class="col-md-2"></div>
</div>