<div class="row">
    <!-- left column -->
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <!-- general form elements -->
        <div class="box box-primary">
        <div class="box-header with-border">
            <h3 class="box-title">Dobrodosli na BiHiT, bazu IT znanja</h3>
        </div>    
        <div class="box-body">
            Ako ste IT strucnjak, ili ste zainteresovani da to postanete, registrujte ste
            na link: <a  routerLink="/home/registration" routerLinkActive="active">Registracija</a> i podijeljite Vase znanje sa ostalim clanovima nase zajednice.<br>
            Postavljajte pitanja i saznajte sve sto Vas zanima od ostalih clanova zajednice. Komentarisite i ocjenjujte<br>
            clanke. Upoznajte Vase buduce kolege. Zabavite se.
            Sadrzaj je podijeljen u nekoliko kategorija a izdvajamo:<br><br>
        </div>
        <div class="box-footer">
        </div>
    </div>
    <div class="col-md-2"></div>
</div>