<div class="row">
        <!-- left column -->
        <div class="col-md-2"></div>
        <div class="col-md-8">
          <!-- general form elements -->
          <div class="box box-primary">
            <div class="box-header with-border">
              <h3 class="box-title">Zahtjev za promjenu passworda</h3>
            </div>

           <form #f="ngForm" novalidate (ngSubmit)="resetPasswordRequest(user)">
               <div class="alert alert-danger" *ngIf="error.exists && submitted && f.valid">
                 {{error.message}}
              </div> 
              <div class="alert alert-success" *ngIf="reguestSent">
                 Uspjesno ste poslali zahtjev za promjenu passworda. Upute za nastavak su poslane na Vasu email adresu.
              </div>
              <div class="box-body">
                <div class="form-group">
                    <div class="row margin-left margin-right">
                        <label>Email</label>  <label style="color:red">*</label>
                        <p class="custom-alert" *ngIf="(e.invalid && (e.dirty || e.touched)) && e.errors.required">
                            <b>Molimo unesite email.</b>
                        </p>
                    </div>
                    <input type="email" class="form-control" id="email" name="email" required [(ngModel)]="user.email" #e="ngModel" placeholder="Unesite email">
                    <div class="row margin-left margin-right">
                      <a class="float-right" routerLink="/home/login" routerLinkActive="active">Log In</a>                      
                    </div>
                </div>
                <div class="box-footer">
                  <button type="submit" class="btn btn-success float-center" [disabled]="f.invalid">Posalji zahtjev</button>
                </div>
              </div>
            </form>
          </div>
        </div>
        <div class="col-md-2"></div>
</div>