<div class="row">
        <!-- left column -->
        <div class="col-md-2"></div>
        <div class="col-md-8">
          <!-- general form elements -->
          <div class="box box-primary">
            <div class="box-header with-border">
              <h3 class="box-title">Reset passworda</h3>
            </div>

           <form #f="ngForm" novalidate (ngSubmit)="resetPassword(user)">
              <div class="alert alert-danger" *ngIf="error.exists && submitted && f.valid">
                 {{error.message}}
              </div> 
              <div class="box-body">
                 <div class="form-group">
                    <div class="row margin-left margin-right">
                        <label for="password">Password</label> <label style="color:red">*</label>
                        <p class="custom-alert" *ngIf="(p.invalid && (p.dirty || p.touched || submitted)) && p.errors.required">
                             <b>     Molimo Vas da unesete password. </b>
                        </p>
                        <p class="custom-alert" *ngIf="(p.invalid && (p.dirty || p.touched)) && p.errors.minlength && !p.required">
                             <b>     Password mora imati minimalno 8 karaktera. </b>
                        </p>
                        <p class="custom-alert" *ngIf="(p.invalid && (p.dirty || p.touched)) && p.errors.pattern && !p.errors.minlength">
                             <b>     Password mora imati barem jedno veliko, jedno malo slovo i jedan broj </b>
                        </p>
                     </div>
                    <input type="password" name="password" class="form-control" id="password" 
                           required pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)[a-zA-Z\d]{8,}$"  
                           minlength="8" maxlength="30" [(ngModel)]="user.password" validateEqual="password_confirmation" reverse="true"
                           #p="ngModel" 
                           placeholder="Unesite password">                      
                </div>

                <div class="form-group">
                    <div class="row margin-left margin-right">
                        <label>Potvrdite Password</label> <label style="color:red">*</label>
                        <p class="custom-alert" *ngIf="(pc.invalid && (pc.dirty || pc.touched || submitted)) && pc.errors.required">
                             <b>    Molimo Vas da unesete potvrdu passworda. </b>
                        </p>
                        <p class="custom-alert" *ngIf="pc.invalid && !(pc.pristine && !f.submitted) && !pc.errors.required">
                             <b>    Password i potvrda passworda moraju biti isti. </b>
                        </p>
                    </div>
                    <input type="password" name="password_confirmation" class="form-control" id="password_confirmation" 
                           [(ngModel)]="user.password_confirmation" #pc="ngModel" 
                           validateEqual="password" required placeholder="Unesite potvrdu passworda">
                    <div class="row margin-left margin-right">
                      <a class="float-right" routerLink="/home/login" routerLinkActive="active">Log In</a>                      
                    </div>
                </div>
                <div class="box-footer">
                  <button type="submit" class="btn btn-success float-center" [disabled]="f.invalid">Resetuj password</button>
                </div>
              </div>
            </form>
          </div>
        </div>
        <div class="col-md-2"></div>
</div>