<div style="height:100%">
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" routerLink="/home" routerLinkActive="active">BiHiT</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
        <li class="odjava"><a (click)="logout()"><span class="glyphicon glyphicon-log-out"></span> Odjava</a></li>
      </ul>
    </div>
  </div>
</nav>
<div style="height:100%">
		<div class="col-md-3" style="padding:1px">
			<div class="sidebar-toggle" data-toggle="push-menu" >
				<div class="profile-usermenu">
					<ul class="nav">
						<li>
							<a routerLink="/admin_dashboard/category" routerLinkActive="active">
							<i class="glyphicon glyphicon-search"></i>
							Kategorije </a>
						</li>
						<!-- <li>
							<a routerLink="/admin_dashboard/users" routerLinkActive="active">
							<i class="glyphicon glyphicon-user"></i>
							Korisnici </a>
						</li> -->
						<li>
							<a routerLink="/admin_dashboard/posts" routerLinkActive="active">
							<i class="glyphicon glyphicon-tasks"></i>
							Postovi </a>
						</li>
						<li>
							<a routerLink="/admin_dashboard/comments" routerLinkActive="active">
							<i class="glyphicon glyphicon-option-vertical"></i>
							Komentari </a>
						</li>
						<li>
							<a routerLink="/admin_dashboard/questions" routerLinkActive="active">
							<i class="glyphicon glyphicon-question-sign"></i>
							Pitanja </a>
						</li>
						<li>
							<a routerLink="/admin_dashboard/answers" routerLinkActive="active">
							<i class="glyphicon glyphicon-check"></i>
							Odgovori </a>
						</li>
						<li>
							<a  routerLink="/admin_dashboard/suggestion" routerLinkActive="active">
							<i class="glyphicon glyphicon-flag"></i>
							Sugestije </a>
                        </li>
                        <li>
							<a  (click)="logout()">
							<i class="glyphicon glyphicon-off"></i>
							Odjava </a>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="col-md-9" style="height:100%; padding:20px; border-left:1px solid black; overflow:auto">
      <router-outlet></router-outlet>
		</div>
	</div>
<div>